.usersBlock{
    max-width: 1000px;
}

.navigationBlock{
    display: flex;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 10px 10px 10px;
}

.selectedPage{
    font-weight: bold;
    color: rgb(251, 255, 10);
}

.pageNumber{
    width: 25px;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    background-color: aqua;
    border-radius: 25px;
 }

.pageNumber:hover{
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}

.userImg{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userItem{
    border: 1px solid black;
    background-color: aqua;
    border-radius: 25px;
    margin: 10px 10px 20px 10px;
    padding: 10px 0 15px 15px;
}

.userItemIdBlock{
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}