.usersBlock{
    max-width: 1000px;
}

.navigationBlock{
    display: flex;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    margin: 15px 10px 10px 10px;
}

.navigationBlockItems{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

.selectedPage{
    background-color: azure;
    margin-right: 10px;
    padding: 10px;
    width: 25px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
    font-weight: bold;
    color: black;
}

.pageNumber{
    width: 25px;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    background-color: aqua;
    font-size: 20px;
    border-radius: 50%;
 }

.pageNumber:hover{
    cursor: pointer;
    background-color: azure;
    font-weight: bold;
}

.userItem{
    border: 1px solid black;
    background-color: aqua;
    border-radius: 25px;
    margin: 10px 10px 20px 10px;
    padding: 10px 0 15px 15px;
}

.userItemIdBlock{
    display: block;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
}