.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems{
  padding: 10px;
  color: white;
}

.active{
  color: gold;
}

.dialogMessages{
  padding: 10px;
}

.dialogsMessagesAddMessageBlock{
  max-width: 900px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 15px;
}
.dialogsMessagesTextArea{
  width: 800px;
  height: 100px;
  margin-bottom: 10px;
}

.dialogsMessagesTextArea:focus{
  background: blanchedalmond;
}

.message{
  margin: 25px;
}